html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  padding: 50px;
  background-color: #d14848;
}

::selection {
  background: #dfca548f;
}

::-moz-selection {
  /* Firefox */
  background: #dfca548f;
}

#titleBox {
  border: 6px solid #d6b445;
  background-color: #ffd64f;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 50px;
}

.box {
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 #8f313173;
  padding: 45px;
}

#title {
  font-size: 115px;
  color: #d14848;
  margin: 0px;
  margin-bottom: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: righteous;
}

#subtitle {
  font-size: 45px;
  color: #d14848;
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: righteous;
}

#bigGameBox {
  display: block; /* MAKE DISPLAY FLEX TO PUT RECORDS NEXT TO GAME BOX */
  height: 25%;
}

#gameBox {
  border: 6px solid #5ca3b4;
  background-color: #70c3d8;
  flex: 5;
}

/* span[contenteditable]:empty::before { // resize text box to fit text
  content: "Enter text to memorize";
  color: black;
  opacity: 0.4;
  cursor: text;
} */

#fullEnterTryMem {
  display: flex;
}

input {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #152427;
  opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #152427;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #152427;
}

button {
  margin-left: 10px;
  cursor: pointer;
}

#showText {
  display: none;
}

#nextStep {
  margin-left: 0px;
}

#fullOptionsDiv {
  display: flex;
  position: absolute;
  right: 50px;
  top: 50px;
}

#showOptions {
  font-size: 33px;
  color: #152427;
  background-color: white;
  border: 6px solid #9faaaf;
  margin: 0px;
  transition: background-color 0.1s linear, box-shadow 0.1s linear;
}

#showOptions:hover {
  background-color: #d9e6eb;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 5px 10px 0 #8f863173;
}

#optionsDiv {
  display: none;
  background-color: white;
  box-shadow: 0 5px 10px 0 #8f863173;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: box-shadow 0.1s linear;
}

#optionsDiv:hover {
  box-shadow: 0 5px 10px 0 #8f863173;
}

#fullOptionsDiv:hover > #optionsDiv {
  display: inherit;
}

#optionsDiv:hover ~ #showOptions {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 5px 10px 0 #8f863173;
}

.options {
  color: black;
  font-size: 29px;
  border: none;
  margin: 0px;
}

.setting {
  margin-left: 12px;
  margin-right: 12px;
  padding: 12px 10px;
}

.setting:hover:enabled {
  background-color: transparent;
  text-decoration: underline;
}

input,
button {
  font-size: 48px;
  background-color: transparent;
  color: #152427;
  box-sizing: border-box;
  border: 6px solid #437583;
  border-radius: 8px;
  padding: 12px 20px;
  transition: background-color 0.1s linear /* , box-shadow 0.1s linear */;
  font-family: alata;
}

button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

input:hover:enabled,
button:hover:enabled {
  background-color: #a2d9e7;
  /* box-shadow: 5px 5px 2px #528f9e7e; */
}

input:focus {
  background-color: #a2d9e7;
  /* box-shadow: 5px 5px 2px #528f9e7e; */
}

input,
button,
h1,
h2,
.subtext {
  font-family: alata;
}

#speakText {
  border-color: #4e8875;
  display: none;
  margin: 0px;
  margin-top: 10px;
}

#speakText:hover {
  background-color: #a1f0cf;
}

#directions {
  font-size: 55px;
  margin-top: 0px;
}

#memText {
  font-size: 50px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.subtext {
  font-size: 50px;
  margin-bottom: 0px;
}

#time {
  color: #438736;
}

#memInput {
  width: 100%;
}

#tryMemInput {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  flex: 1;
}

#enterTry,
#resetTime {
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#tryMemDiv {
  display: none;
}

#resetTime {
  display: none;
  border-color: #834348;
}

#resetTime:hover {
  background-color: #e7a2a8;
}

#nextStepDiv {
  margin-top: 60px;
}

#timesBox {
  display: none;
  border: 6px solid #5ca3b4;
  background-color: #70c3d8;
  margin-top: 50px;
  margin-bottom: 50px;
  flex: 1;
}

#timesTitle {
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 22px;
}

#timesSubtext {
  color: #d14848;
  font-size: 53px;
  margin-top: 0px;
  margin-bottom: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  position: relative;
  list-style-type: none;
  font-size: 50px;
  margin: 3px;
  margin-left: -0.1px;
  margin-bottom: 16px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: alata;
}

@font-face {
  font-family: righteous;
  src: url("Righteous-Regular.ttf");
}

@font-face {
  font-family: alata;
  src: url("Alata-Regular.ttf");
}

/* 800px and up */
@media only screen and (min-width: 800px) {
  body {
    padding: 40px;
  }

  #titleBox {
    border: 4px solid #d6b445;
  }

  .box {
    border-radius: 6px;
  }

  #fullOptionsDiv {
    right: 80px;
    top: 80px;
  }

  #showOptions {
    font-size: 25px;
    border: 4px solid #9faaaf;
  }

  .options {
    font-size: 23px;
  }

  #title {
    font-size: 95px;
  }

  #subtitle {
    font-size: 27px;
  }

  #gameBox {
    border: 4px solid #5ca3b4;
  }

  #showOptions {
    border: 4px solid #9faaaf;
  }

  #optionsDiv {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  input,
  button {
    font-size: 25px;
    border: 4px solid #437583;
    border-radius: 6px;
  }

  #timesBox {
    border: 4px solid #5ca3b4;
  }

  #fullOptionsDiv {
    right: 40px;
    top: 40px;
  }

  #directions {
    font-size: 35px;
    margin-top: 0px;
  }

  #memText {
    font-size: 30px;
  }

  .subtext {
    font-size: 30px;
  }

  #timesTitle {
    font-size: 40px;
  }

  #timesSubtext {
    font-size: 38px;
  }

  ul li {
    font-size: 35px;
  }
}

/* 1000px and up */
@media only screen and (min-width: 1000px) {
  html {
    margin: initial;
    height: initial;
  }

  body {
    margin: initial;
    height: initial;
    padding: 120px;
  }

  #titleBox {
    border: 3px solid #d6b445;
    margin-bottom: 25px;
  }

  .box {
    border-radius: 4px;
  }

  #fullOptionsDiv {
    right: 120px;
    top: 120px;
  }

  #showOptions {
    font-size: 18px;
    border: 3px solid #9faaaf;
  }

  #optionsDiv {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .options {
    font-size: 16px;
  }

  #title {
    font-size: 60px;
  }

  #subtitle {
    font-size: 20px;
  }

  #bigGameBox {
    display: flex;
    height: initial;
  }

  #gameBox {
    border: 3px solid #5ca3b4;
  }

  #showOptions {
    border: 3px solid #9faaaf;
  }

  input,
  button {
    font-size: 18px;
    border: 3px solid #437583;
    border-radius: 4px;
  }

  #timesBox {
    border: 3px solid #5ca3b4;
    margin: 0px;
    margin-left: 25px;
  }

  #fullOptionsDiv {
    right: 120px;
    top: 120px;
  }

  #directions {
    font-size: 32px;
    margin-top: 0px;
  }

  #memText {
    font-size: 24px;
  }

  .subtext {
    font-size: 22px;
  }

  #timesTitle {
    font-size: 24px;
  }

  #timesSubtext {
    font-size: 22px;
  }

  ul li {
    font-size: 20px;
  }
}
