:root {
  --bgRed: #d14848; /* background */
  --shadowRed: #8f313173; /* shadow for divs on background */
  --yellow: #ffd64f; /* title div */
  --darkYellow: #d4b345; /* title div border */
  --selectYellow: #dfca548f; /* text selection color */
  --shadowYellow: #8f863173; /* shadow for buttons in title div */
  --lightBlue: #a2d9e7; /* hover on buttons or input */
  --blue: #70c3d8; /* background for game and times divs */
  --darkBlue: #5ca3b4; /* border for game and times divs */
  --darkerBlue: #437583; /* border for buttons and input */
  --placeholderBlue: #152427; /* placeeholder text in input */
  --darkWhite: #e6e6e6; /* options on hover */
  --darkerWhite: #9faaaf; /* border for options */
  --disabled: #576b6e; /* text of disabled buttons and inputs */
  --darkDisabled: #5a8291; /* border for disabled buttons and inputs */
  --green: #9debaa; /* hover on speak */
  --darkGreen: #4e885f; /* speak border */
  --darkerGreen: #368546; /* correct */
  --lightRed: #d14848; /* new record / goal reached / record */
  --red: #ebaaaf; /* hover on reset */
  --darkRed: #8a4046; /* reset border */
  --darkerRed: #ad4337; /* incorrect */
}

body {
  margin: 0px;
  padding: 50px;
  background-color: var(--bgRed);
}

#devButton {
  display: none;
}

::selection {
  background: var(--selectYellow);
}

::-moz-selection {
  /* Firefox */
  background: var(--selectYellow);
}

#titleBox {
  border: 6px solid var(--darkYellow);
  background-color: var(--yellow);
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 50px;
}

.box {
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 var(--shahowRed);
  padding: 45px;
}

#title {
  font-size: 115px;
  color: var(--bgRed);
  margin: 0px;
  margin-bottom: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: righteous;
}

#subtitle {
  font-size: 45px;
  color: var(--bgRed);
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: righteous;
}

#bigGameBox {
  display: block;
  height: 25%;
}

#gameBox {
  position: relative;
  border: 6px solid var(--darkBlue);
  background-color: var(--blue);
  flex: 5;
}

#goalButton {
  position: absolute;
  display: none;
  top: -6px;
  right: -6px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* span[contenteditable]:empty::before { // resize text box to fit text
  content: "Enter text to memorize";
  color: black;
  opacity: 0.4;
  cursor: text;
} */

#fullEnterTryMem {
  display: flex;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholderBlue);
  opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeholderBlue);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeholderBlue);
}

#showText {
  display: none;
  margin-left: 10px;
}

#fullOptionsDiv {
  display: flex;
  position: absolute;
  flex-flow: column;
  z-index: 1;
  right: 50px;
  top: 50px;
}

#showOptions {
  display: inline-block;
  margin-left: auto;
  font-size: 33px;
  color: var(--placeholderBlue);
  background-color: white;
  border: 6px solid var(--darkerWhite);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: background-color 0.1s linear /* , box-shadow 0.1s linear */;
}

#showOptions:hover {
  background-color: var(--darkWhite);
  /* box-shadow: 0 5px 10px 0 var(--shadowYellow); */
}

#optionsDiv {
  display: none;
  background-color: white;
  flex-flow: column;
  box-shadow: 0 5px 10px 0 var(--shadowYellow);
  border-radius: 4px;
  border-top-right-radius: 0px;
}

.options {
  color: black;
  font-size: 29px;
  border: none;
}

.setting {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 10px;
  transition: background-color 0.1s linear;
}

.setting:hover:enabled {
  background-color: var(--darkWhite);
}

input,
button {
  font-size: 48px;
  background-color: transparent;
  color: var(--placeholderBlue);
  box-sizing: border-box;
  border: 6px solid var(--darkerBlue);
  border-radius: 4px;
  margin: 0px;
  padding: 12px 20px;
  transition: background-color 0.1s linear /* , box-shadow 0.1s linear */;
  font-family: alata;
}

input {
  outline: none;
}

input:hover:enabled,
button:hover:enabled {
  background-color: var(--lightBlue);
  /* box-shadow: 0 5px 10px 0 #528f9e7e; */
}

input:focus {
  background-color: var(--lightBlue);
  /* box-shadow: 5px 5px 2px #528f9e7e; */
}

button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
}

input,
button,
h1,
h2,
.subtext {
  font-family: alata;
}

.disabled {
  color: var(--disabled);
  border-color: var(--darkDisabled);
  cursor: default;
}

#speakText {
  border-color: var(--darkGreen);
  display: none;
  margin-top: 10px;
}

#speakText:hover {
  background-color: #9debaa;
}

#directions {
  font-size: 55px;
  margin-top: 0px;
}

#memText {
  font-size: 50px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.subtext {
  font-size: 50px;
  margin-bottom: 0px;
}

#memInput {
  width: 100%;
}

#tryMemInput {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  flex: 1;
}

#enterTry,
#resetTime {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#tryMemDiv {
  display: none;
}

#resetTime {
  display: none;
  border-color: var(--darkRed);
}

#resetTime:hover {
  background-color: var(--red);
}

#nextStepDiv {
  margin-top: 60px;
}

#timesBox {
  display: none;
  border: 6px solid var(--darkBlue);
  background-color: var(--blue);
  margin-top: 50px;
  flex: 1;
}

#timesTitle {
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 22px;
}

#timesSubtext {
  color: var(--lightRed);
  font-size: 51px;
  margin-top: 0px;
}

#timesAverage {
  font-size: 51px;
  margin-top: 0px;
  margin-bottom: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

.fa-stopwatch,
.fa-scroll,
.fa-bullseye,
.fa-circle-check,
.fa-circle-xmark {
  margin-right: 5px;
}

.fa-ellipsis-vertical {
  margin-right: 8px;
}

.fa-arrow-right,
.fa-arrow-rotate-right,
.fa-volume-high {
  margin-left: 5px;
}

.listEl {
  position: relative;
  list-style-type: none;
  font-size: 50px;
  margin: 0px;
  margin-left: -0.1px;
  margin-bottom: 16px;
  font-family: alata;
}

/* .listEl:hover {
  text-decoration: line-through;
  cursor: pointer;
} */

#badgesTitle {
  font-size: 55px;
  margin-top: 35px;
  margin-bottom: 22px;
}

#badgesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: righteous;
  src: url("Righteous-Regular.ttf");
}

@font-face {
  font-family: alata;
  src: url("Alata-Regular.ttf");
}

/* 499px and down */ /* small screens */

/* 500px and up */ /* phone screens */
@media only screen and (min-width: 500px) {
  body {
    padding: 40px;
  }

  #titleBox {
    border: 4px solid var(--darkYellow);
  }

  #fullOptionsDiv {
    right: 40px;
    top: 40px;
  }

  #showOptions {
    font-size: 30px;
    border: 4px solid var(--darkerWhite);
  }

  .options {
    font-size: 26px;
  }

  #title {
    font-size: 95px;
  }

  #subtitle {
    font-size: 28px;
  }

  #gameBox {
    border: 4px solid var(--darkBlue);
  }

  #goalButton {
    top: -4px;
    right: -4px;
  }

  input,
  button {
    font-size: 30px;
    border: 4px solid var(--darkerBlue);
  }

  #directions {
    font-size: 40px;
    margin-top: 0px;
  }

  #memText {
    font-size: 32px;
  }

  .subtext {
    font-size: 32px;
  }

  #timesBox {
    border: 4px solid var(--darkBlue);
  }

  #timesTitle {
    font-size: 35px;
  }

  #timesSubtext {
    font-size: 31px;
  }

  #timesAverage {
    font-size: 31px;
  }

  #badgesTitle {
    font-size: 35px;
  }

  .listEl {
    font-size: 30px;
  }
}

/* 1100px and up */ /* computer screens */
@media only screen and (min-width: 1100px) {
  html {
    margin: initial;
    height: initial;
  }

  body {
    margin: initial;
    height: initial;
    padding: 120px;
  }

  #titleBox {
    border: 3px solid var(--darkYellow);
    margin-bottom: 25px;
  }

  #fullOptionsDiv {
    right: 120px;
    top: 120px;
  }

  #showOptions {
    font-size: 18px;
    border: 3px solid var(--darkerWhite);
  }

  .options {
    font-size: 16px;
  }

  #title {
    font-size: 60px;
  }

  #subtitle {
    font-size: 20px;
  }

  #bigGameBox {
    display: block;
    height: initial;
  }

  #gameBox {
    border: 3px solid var(--darkBlue);
  }

  #goalButton {
    top: -3px;
    right: -3px;
  }

  input,
  button {
    font-size: 18px;
    border: 3px solid var(--darkerBlue);
  }

  #directions {
    font-size: 32px;
    margin-top: 0px;
  }

  #memText {
    font-size: 24px;
  }

  .subtext {
    font-size: 22px;
  }

  #timesBox {
    border: 4px solid var(--darkBlue);
    margin-top: 25px;
    margin-bottom: 0px;
  }

  #timesTitle {
    font-size: 24px;
  }

  #timesSubtext {
    font-size: 21px;
  }

  #timesAverage {
    font-size: 21px;
  }

  #badgesTitle {
    font-size: 24px;
  }

  .listEl {
    font-size: 20px;
  }
}

/* 1250px and up */ /* computer screens */
@media only screen and (min-width: 1250px) {
  #bigGameBox {
    display: flex;
    height: initial;
  }

  #timesBox {
    border: 3px solid var(--darkBlue);
    margin: 0px;
    margin-left: 25px;
  }
}
