body {
  margin: 0px;
  padding: 120px;
  background-color: #d14848;
}

#titleDiv {
  border: 3px solid #b9b848;
  border-radius: 4px;
  box-shadow: 5px 5px 2px #8f313173;
  background-color: #dfdc54;
  padding: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

#title {
  font-size: 60px;
  color: #d14848;
  margin: 0px;
  margin-bottom: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: righteous;
}

#subtitle {
  font-size: 20px;
  color: #d14848;
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: righteous;
}

#bigBox {
  display: flex;
}

#box {
  border: 3px solid #5ca3b4;
  border-radius: 4px;
  padding: 35px;
  box-shadow: 5px 5px 2px #8f313173;
  background-color: #70c3d8;
  flex: 5;
}

/* span[contenteditable]:empty::before { // resize text box to fit text
  content: "Enter text to memorize";
  color: black;
  opacity: 0.4;
  cursor: text;
} */

#fullEnterTryMem {
  display: flex;
}

input {
  outline: none;
}

button {
  margin-left: 10px;
  cursor: pointer;
}

#showText {
  display: none;
}

#nextStep {
  margin-left: 0px;
}

input,
button {
  font-size: 18px;
  background-color: #a1d9e7;
  color: black;
  box-sizing: border-box;
  border: 3px solid #5ca3b4;
  border-radius: 4px;
  padding: 12px 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: alata;
}

input:hover,
button:hover {
  background-color: #96cbd8;
  border: 3px solid #5596a7;
}

input,
button,
h1,
h2,
.subtext {
  font-family: alata;
}

#directions {
  margin-top: 0px;
}

#speakMemText {
  display: none;
  margin: 0px;
  margin-top: 10px;
}

.subtext {
  font-size: 22px;
  margin-bottom: 0px;
}

#time {
  color: #438736;
}

#memInput {
  width: 100%;
}

#tryMemInput {
  flex: 1;
}

#tryMemDiv {
  display: none;
}

#resetTime {
  display: none;
}

#nextStepDiv {
  margin-top: 60px;
}

#timesBox {
  border: 3px solid #5ca3b4;
  border-radius: 4px;
  padding: 35px;
  box-shadow: 5px 5px 2px #8f313173;
  background-color: #70c3d8;
  margin-left: 20px;
  flex: 1;
  display: none;
}

#timesTitle {
  margin-top: 0px;
  margin-bottom: 22px;
}

#timesSubtext {
  color: #d14848;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  position: relative;
  list-style-type: none;
  font-size: 20px;
  margin: 3px;
  margin-left: -0.1px;
  margin-bottom: 16px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: alata;
}

@font-face {
  font-family: righteous;
  src: url("Righteous-Regular.ttf");
}

@font-face {
  font-family: alata;
  src: url("Alata-Regular.ttf");
}

/* 1150px and down */
@media only screen and (max-width: 1150px) {
  body {
    padding: 80px;
  }

  #title {
    font-size: 85px;
  }

  #subtitle {
    font-size: 24px;
  }

  input,
  button {
    font-size: 22px;
  }
}

/* 800px and down */
@media only screen and (max-width: 800px) {
  body {
    padding: 40px;
  }

  #title {
    font-size: 95px;
  }

  #subtitle {
    font-size: 27px;
  }

  input,
  button {
    font-size: 25px;
  }
}
